/* Letterboxd website colors */
:root {
	--letterboxd-gray: #212830;
	--letterboxd-black: #14181b;
	--letterboxd-blue: #5cbcf2;
	--letterboxd-white: #f0f2f3;
}

body {
	background: var(--letterboxd-gray);
}

/* Popup container */
.extension {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--letterboxd-white);
	width: 200px;
	height: 150px;
	margin-top: -15px;
}

.extension__logo {
	width: 160px;
}

.extension__toggles-container {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 55px;
}

/* Flexbox for label and switch */
.extension__ratings-toggle-container,
.extension__reviews-toggle-container {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	width: 100%;
	gap: 10px;
}

/* Written label */
.extension__ratings-toggle-text,
.extension__reviews-toggle-text {
	font-size: 0.85rem;
	padding-top: 0.1em;
}

/* Container for the switch */
.extension__ratings-toggle,
.extension__reviews-toggle {
	position: relative;
	left: -7px;
	width: 45px;
	height: 21px;
}

/* Hide default checkbox */
.extension__ratings-toggle-checkbox,
.extension__reviews-toggle-checkbox {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The track */
.extension__ratings-toggle-slider,
.extension__reviews-toggle-slider {
	position: absolute;
	cursor: pointer;
	background-color: var(--letterboxd-black);
	border-radius: 24px;
	width: 100%;
	height: 100%;
	transition: background-color 0.3s;
}

/* The circular slider */
.extension__ratings-toggle-slider::before,
.extension__reviews-toggle-slider::before {
	content: '';
	position: absolute;
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: var(--letterboxd-white);
	border-radius: 50%;
	transition: transform 0.3s;
}

/* Toggled state */
.extension__ratings-toggle-checkbox:checked + .extension__ratings-toggle-slider,
.extension__reviews-toggle-checkbox:checked
	+ .extension__reviews-toggle-slider {
	background-color: var(--letterboxd-blue);
}

.extension__ratings-toggle-checkbox:checked
	+ .extension__ratings-toggle-slider::before,
.extension__reviews-toggle-checkbox:checked
	+ .extension__reviews-toggle-slider::before {
	transform: translateX(22px);
}
